* {
    margin: 0;
    padding: 0;
    color: white;
    /* background-color: #0D212D; */
}

main, footer {
    background-color: #0D212D; 

}

nav {
    display: flex;
    float: right;
    justify-content: space-between;
    align-items: center;
    color: white;
    
}
/* .content {
    padding-top: 100px;
} */

nav > a {
    color: inherit;
    text-decoration: inherit;
    margin-left: 1vw;
    margin-right: 1vw;
    margin: 5vh 1vw 5vh 1vw;
}

img + p {
    visibility: hidden;
    position: absolute;
}

