#skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tags {

    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 300px;
}

.tags>div>img {
    filter: invert(46%) sepia(70%) saturate(2044%) hue-rotate(161deg) brightness(94%) contrast(101%);
    transition: filter 0.5s ease;
}

.tags>div>img:hover {
    filter: none;
}